#### Imports

In [2]:
import pyspark
from pyspark.sql import SparkSession
from IPython.display import display
from pyspark.sql.functions import udf ,col , split, max, min, sum,year,month,dayofmonth,weekofyear,lag,avg,round,row_number
from pyspark.sql.types import DateType,StringType
from datetime import datetime
from pyspark.sql.window import Window

# BATCH PROCESSING

# Basic operations

In [3]:
spark = SparkSession.builder.appName("stocksly").getOrCreate()
spark

25/03/11 17:05:30 WARN Utils: Your hostname, ayushkhaire resolves to a loopback address: 127.0.1.1; using 192.168.107.53 instead (on interface enp1s0)
25/03/11 17:05:30 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/03/11 17:05:31 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
stocks = spark.read.csv(
    "../data_sourcing/source/archive/stocks.csv", 
    header=True, 
    inferSchema=True
)

In [5]:
stocks.show(5)

+---+----------+------------------+------------------+-----------------+-----------------+-------+-------------------+---------+
|_c0|Unnamed: 0|               low|             close|             high|             open| volume|          timestamp|stockname|
+---+----------+------------------+------------------+-----------------+-----------------+-------+-------------------+---------+
|  0|         0| 37.06499862670898| 37.42499923706055|38.06999969482422|38.02999877929688|1044400|2015-01-02 14:30:00|     WSM |
|  1|         1| 37.04999923706055|37.244998931884766|37.48500061035156|            37.25| 743200|2015-01-05 14:30:00|     WSM |
|  2|         2|             36.75| 37.06999969482422|37.45000076293945|37.21500015258789|1776000|2015-01-06 14:30:00|     WSM |
|  3|         3|37.310001373291016| 38.41999816894531|38.47999954223633|37.34999847412109|1719800|2015-01-07 14:30:00|     WSM |
|  4|         4| 38.64500045776367| 38.93000030517578|39.03499984741211|38.82500076293945|1342800|2015-01-08 14:30:00|     WSM |
+---+----------+------------------+------------------+-----------------+-----------------+-------+-------------------+---------+
only showing top 5 rows

25/03/11 17:05:47 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , Unnamed: 0, low, close, high, open, volume, timestamp, stockname
 Schema: _c0, Unnamed: 0, low, close, high, open, volume, timestamp, stockname
Expected: _c0 but found:
CSV file: file:///home/ayushkhaire/code/dataennginneerinng/stocksly/data_sourcing/source/archive/stocks.csv

In [6]:
stocks.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- Unnamed: 0: integer (nullable = true)
 |-- low: double (nullable = true)
 |-- close: double (nullable = true)
 |-- high: double (nullable = true)
 |-- open: double (nullable = true)
 |-- volume: long (nullable = true)
 |-- timestamp: timestamp (nullable = true)
 |-- stockname: string (nullable = true)

In [7]:
stocks.select("stockname").show(5)

+---------+
|stockname|
+---------+
|     WSM |
|     WSM |
|     WSM |
|     WSM |
|     WSM |
+---------+
only showing top 5 rows

In [8]:
stocks.select(
    ["stockname","open", "close"]
).show(5)

+---------+-----------------+------------------+
|stockname|             open|             close|
+---------+-----------------+------------------+
|     WSM |38.02999877929688| 37.42499923706055|
|     WSM |            37.25|37.244998931884766|
|     WSM |37.21500015258789| 37.06999969482422|
|     WSM |37.34999847412109| 38.41999816894531|
|     WSM |38.82500076293945| 38.93000030517578|
+---------+-----------------+------------------+
only showing top 5 rows

In [9]:
stocks.filter(
    stocks.stockname == "TSLA "
).show(5)

25/03/11 17:05:48 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , Unnamed: 0, low, close, high, open, volume, timestamp, stockname
 Schema: _c0, Unnamed: 0, low, close, high, open, volume, timestamp, stockname
Expected: _c0 but found:
CSV file: file:///home/ayushkhaire/code/dataennginneerinng/stocksly/data_sourcing/source/archive/stocks.csv

+---+----------+------------------+------------------+------------------+------------------+--------+-------------------+---------+
|_c0|Unnamed: 0|               low|             close|              high|              open|  volume|          timestamp|stockname|
+---+----------+------------------+------------------+------------------+------------------+--------+-------------------+---------+
|  0|         0| 14.21733283996582|14.620667457580566|14.883333206176758|14.857999801635742|71466000|2015-01-02 14:30:00|    TSLA |
|  1|         1|13.810667037963867|14.005999565124512| 14.43333339691162|14.303333282470703|80527500|2015-01-05 14:30:00|    TSLA |
|  2|         2| 13.61400032043457|14.085332870483398|14.279999732971191|14.003999710083008|93928500|2015-01-06 14:30:00|    TSLA |
|  3|         3|13.985333442687988|14.063332557678224|  14.3186674118042|14.223333358764648|44526000|2015-01-07 14:30:00|    TSLA |
|  4|         4|14.000666618347168|14.041333198547363| 14.25333309173584|14.187333106994627|51637500|2015-01-08 14:30:00|    TSLA |
+---+----------+------------------+------------------+------------------+------------------+--------+-------------------+---------+
only showing top 5 rows

In [10]:
stocks.filter(
    (
        (stocks.stockname == "TSLA ") |
        (stocks.stockname == "PLTR ")
    ) & (
    stocks.timestamp == "2015-01-08 14:30:00")
).show()

25/03/11 17:05:56 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , Unnamed: 0, low, close, high, open, volume, timestamp, stockname
 Schema: _c0, Unnamed: 0, low, close, high, open, volume, timestamp, stockname
Expected: _c0 but found:
CSV file: file:///home/ayushkhaire/code/dataennginneerinng/stocksly/data_sourcing/source/archive/stocks.csv

+---+----------+------------------+------------------+-----------------+------------------+--------+-------------------+---------+
|_c0|Unnamed: 0|               low|             close|             high|              open|  volume|          timestamp|stockname|
+---+----------+------------------+------------------+-----------------+------------------+--------+-------------------+---------+
|  4|         4|14.000666618347168|14.041333198547363|14.25333309173584|14.187333106994627|51637500|2015-01-08 14:30:00|    TSLA |
+---+----------+------------------+------------------+-----------------+------------------+--------+-------------------+---------+

In [11]:
stocks.filter(
    stocks.stockname.isin("TSLA ", "PLTR ") &
    (stocks.timestamp == "2015-01-08 14:30:00")
).show()

25/03/11 17:06:05 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , Unnamed: 0, low, close, high, open, volume, timestamp, stockname
 Schema: _c0, Unnamed: 0, low, close, high, open, volume, timestamp, stockname
Expected: _c0 but found:
CSV file: file:///home/ayushkhaire/code/dataennginneerinng/stocksly/data_sourcing/source/archive/stocks.csv

+---+----------+------------------+------------------+-----------------+------------------+--------+-------------------+---------+
|_c0|Unnamed: 0|               low|             close|             high|              open|  volume|          timestamp|stockname|
+---+----------+------------------+------------------+-----------------+------------------+--------+-------------------+---------+
|  4|         4|14.000666618347168|14.041333198547363|14.25333309173584|14.187333106994627|51637500|2015-01-08 14:30:00|    TSLA |
+---+----------+------------------+------------------+-----------------+------------------+--------+-------------------+---------+

In [12]:
stocks = stocks.withColumn(
    "date", split(
        col("timestamp"), 
    " ")[0]
    )
stocks = stocks.withColumn(
    "time", split(
        col("timestamp"), 
    " ")[1]
    )
stocks.show(5)

+---+----------+------------------+------------------+-----------------+-----------------+-------+-------------------+---------+----------+--------+
|_c0|Unnamed: 0|               low|             close|             high|             open| volume|          timestamp|stockname|      date|    time|
+---+----------+------------------+------------------+-----------------+-----------------+-------+-------------------+---------+----------+--------+
|  0|         0| 37.06499862670898| 37.42499923706055|38.06999969482422|38.02999877929688|1044400|2015-01-02 14:30:00|     WSM |2015-01-02|14:30:00|
|  1|         1| 37.04999923706055|37.244998931884766|37.48500061035156|            37.25| 743200|2015-01-05 14:30:00|     WSM |2015-01-05|14:30:00|
|  2|         2|             36.75| 37.06999969482422|37.45000076293945|37.21500015258789|1776000|2015-01-06 14:30:00|     WSM |2015-01-06|14:30:00|
|  3|         3|37.310001373291016| 38.41999816894531|38.47999954223633|37.34999847412109|1719800|2015-01-07 14:30:00|     WSM |2015-01-07|14:30:00|
|  4|         4| 38.64500045776367| 38.93000030517578|39.03499984741211|38.82500076293945|1342800|2015-01-08 14:30:00|     WSM |2015-01-08|14:30:00|
+---+----------+------------------+------------------+-----------------+-----------------+-------+-------------------+---------+----------+--------+
only showing top 5 rows

25/03/11 17:06:13 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , Unnamed: 0, low, close, high, open, volume, timestamp, stockname
 Schema: _c0, Unnamed: 0, low, close, high, open, volume, timestamp, stockname
Expected: _c0 but found:
CSV file: file:///home/ayushkhaire/code/dataennginneerinng/stocksly/data_sourcing/source/archive/stocks.csv

In [13]:
date_parser = udf(
    lambda date : datetime.strptime(date, "%Y-%m-%d"),DateType()
)

In [14]:
stocks = stocks.withColumn(
    "new_date",
    date_parser(stocks.date)  
)

stocks.show(5)

25/03/11 17:06:14 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , Unnamed: 0, low, close, high, open, volume, timestamp, stockname
 Schema: _c0, Unnamed: 0, low, close, high, open, volume, timestamp, stockname
Expected: _c0 but found:
CSV file: file:///home/ayushkhaire/code/dataennginneerinng/stocksly/data_sourcing/source/archive/stocks.csv

+---+----------+------------------+------------------+-----------------+-----------------+-------+-------------------+---------+----------+--------+----------+
|_c0|Unnamed: 0|               low|             close|             high|             open| volume|          timestamp|stockname|      date|    time|  new_date|
+---+----------+------------------+------------------+-----------------+-----------------+-------+-------------------+---------+----------+--------+----------+
|  0|         0| 37.06499862670898| 37.42499923706055|38.06999969482422|38.02999877929688|1044400|2015-01-02 14:30:00|     WSM |2015-01-02|14:30:00|2015-01-02|
|  1|         1| 37.04999923706055|37.244998931884766|37.48500061035156|            37.25| 743200|2015-01-05 14:30:00|     WSM |2015-01-05|14:30:00|2015-01-05|
|  2|         2|             36.75| 37.06999969482422|37.45000076293945|37.21500015258789|1776000|2015-01-06 14:30:00|     WSM |2015-01-06|14:30:00|2015-01-06|
|  3|         3|37.310001373291016| 38.41999816894531|38.47999954223633|37.34999847412109|1719800|2015-01-07 14:30:00|     WSM |2015-01-07|14:30:00|2015-01-07|
|  4|         4| 38.64500045776367| 38.93000030517578|39.03499984741211|38.82500076293945|1342800|2015-01-08 14:30:00|     WSM |2015-01-08|14:30:00|2015-01-08|
+---+----------+------------------+------------------+-----------------+-----------------+-------+-------------------+---------+----------+--------+----------+
only showing top 5 rows

In [15]:
stocks.show(5)

+---+----------+------------------+------------------+-----------------+-----------------+-------+-------------------+---------+----------+--------+----------+
|_c0|Unnamed: 0|               low|             close|             high|             open| volume|          timestamp|stockname|      date|    time|  new_date|
+---+----------+------------------+------------------+-----------------+-----------------+-------+-------------------+---------+----------+--------+----------+
|  0|         0| 37.06499862670898| 37.42499923706055|38.06999969482422|38.02999877929688|1044400|2015-01-02 14:30:00|     WSM |2015-01-02|14:30:00|2015-01-02|
|  1|         1| 37.04999923706055|37.244998931884766|37.48500061035156|            37.25| 743200|2015-01-05 14:30:00|     WSM |2015-01-05|14:30:00|2015-01-05|
|  2|         2|             36.75| 37.06999969482422|37.45000076293945|37.21500015258789|1776000|2015-01-06 14:30:00|     WSM |2015-01-06|14:30:00|2015-01-06|
|  3|         3|37.310001373291016| 38.41999816894531|38.47999954223633|37.34999847412109|1719800|2015-01-07 14:30:00|     WSM |2015-01-07|14:30:00|2015-01-07|
|  4|         4| 38.64500045776367| 38.93000030517578|39.03499984741211|38.82500076293945|1342800|2015-01-08 14:30:00|     WSM |2015-01-08|14:30:00|2015-01-08|
+---+----------+------------------+------------------+-----------------+-----------------+-------+-------------------+---------+----------+--------+----------+
only showing top 5 rows

25/03/11 17:06:15 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , Unnamed: 0, low, close, high, open, volume, timestamp, stockname
 Schema: _c0, Unnamed: 0, low, close, high, open, volume, timestamp, stockname
Expected: _c0 but found:
CSV file: file:///home/ayushkhaire/code/dataennginneerinng/stocksly/data_sourcing/source/archive/stocks.csv

In [16]:
def upper_turner(stockname):
    return stockname.upper()

upper_turner = udf(
    upper_turner, StringType()
)

In [17]:
stocks = stocks.withColumn(
    "stockname",upper_turner(stocks.stockname)
)
stocks.show(5)

+---+----------+------------------+------------------+-----------------+-----------------+-------+-------------------+---------+----------+--------+----------+
|_c0|Unnamed: 0|               low|             close|             high|             open| volume|          timestamp|stockname|      date|    time|  new_date|
+---+----------+------------------+------------------+-----------------+-----------------+-------+-------------------+---------+----------+--------+----------+
|  0|         0| 37.06499862670898| 37.42499923706055|38.06999969482422|38.02999877929688|1044400|2015-01-02 14:30:00|     WSM |2015-01-02|14:30:00|2015-01-02|
|  1|         1| 37.04999923706055|37.244998931884766|37.48500061035156|            37.25| 743200|2015-01-05 14:30:00|     WSM |2015-01-05|14:30:00|2015-01-05|
|  2|         2|             36.75| 37.06999969482422|37.45000076293945|37.21500015258789|1776000|2015-01-06 14:30:00|     WSM |2015-01-06|14:30:00|2015-01-06|
|  3|         3|37.310001373291016| 38.41999816894531|38.47999954223633|37.34999847412109|1719800|2015-01-07 14:30:00|     WSM |2015-01-07|14:30:00|2015-01-07|
|  4|         4| 38.64500045776367| 38.93000030517578|39.03499984741211|38.82500076293945|1342800|2015-01-08 14:30:00|     WSM |2015-01-08|14:30:00|2015-01-08|
+---+----------+------------------+------------------+-----------------+-----------------+-------+-------------------+---------+----------+--------+----------+
only showing top 5 rows

25/03/11 17:06:15 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , Unnamed: 0, low, close, high, open, volume, timestamp, stockname
 Schema: _c0, Unnamed: 0, low, close, high, open, volume, timestamp, stockname
Expected: _c0 but found:
CSV file: file:///home/ayushkhaire/code/dataennginneerinng/stocksly/data_sourcing/source/archive/stocks.csv

In [18]:
stocks.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- Unnamed: 0: integer (nullable = true)
 |-- low: double (nullable = true)
 |-- close: double (nullable = true)
 |-- high: double (nullable = true)
 |-- open: double (nullable = true)
 |-- volume: long (nullable = true)
 |-- timestamp: timestamp (nullable = true)
 |-- stockname: string (nullable = true)
 |-- date: string (nullable = true)
 |-- time: string (nullable = true)
 |-- new_date: date (nullable = true)

In [19]:
new_stocks = stocks.select(
    "stockname",
    "open",
    "high",
    "low",
    "close",
    "volume",
    "new_date",
    "time"
)

In [20]:
new_stocks.show(5)

+---------+-----------------+-----------------+------------------+------------------+-------+----------+--------+
|stockname|             open|             high|               low|             close| volume|  new_date|    time|
+---------+-----------------+-----------------+------------------+------------------+-------+----------+--------+
|     WSM |38.02999877929688|38.06999969482422| 37.06499862670898| 37.42499923706055|1044400|2015-01-02|14:30:00|
|     WSM |            37.25|37.48500061035156| 37.04999923706055|37.244998931884766| 743200|2015-01-05|14:30:00|
|     WSM |37.21500015258789|37.45000076293945|             36.75| 37.06999969482422|1776000|2015-01-06|14:30:00|
|     WSM |37.34999847412109|38.47999954223633|37.310001373291016| 38.41999816894531|1719800|2015-01-07|14:30:00|
|     WSM |38.82500076293945|39.03499984741211| 38.64500045776367| 38.93000030517578|1342800|2015-01-08|14:30:00|
+---------+-----------------+-----------------+------------------+------------------+-------+----------+--------+
only showing top 5 rows

In [21]:
new_stocks.describe().show()

25/03/11 17:06:16 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+---------+--------------------+--------------------+--------------------+--------------------+--------------------+--------+
|summary|stockname|                open|                high|                 low|               close|              volume|    time|
+-------+---------+--------------------+--------------------+--------------------+--------------------+--------------------+--------+
|  count|  4881252|             4881252|             4881252|             4881252|             4881252|             4881252| 4881252|
|   mean|     NULL|   819386.4823657873|    886035.285449156|   738057.6887514308|   806229.7104475481|2.7874788287357833E7|    NULL|
| stddev|     NULL| 9.206054466304307E7|1.0009087405909203E8| 8.228124841166525E7| 9.069951404786308E7| 8.950436302490437E8|    NULL|
|    min|       A |3.999999989900971E-6|3.999999989900971E-6|3.999999989900971E-6|3.999999989900971E-6|                   0|00:00:00|
|    max|     ZWS |     3.2500000768E10|     3.3500000256E10|     2.8999999488E10|      3.224999936E10|        350967941479|19:42:00|
+-------+---------+--------------------+--------------------+--------------------+--------------------+--------------------+--------+

# Basic stock analysis

In [22]:
new_stocks.groupBy("stockname").max("Open").show(15)

+---------+------------------+
|stockname|         max(Open)|
+---------+------------------+
|     ROP | 585.2000122070312|
|     WSM | 218.4499969482422|
|      GS | 669.0800170898438|
|     MAN | 135.4600067138672|
|    GSHD |177.00999450683594|
|    GKOS |160.39999389648438|
|     BHP | 72.72078704833984|
|     PFS |28.950000762939453|
|      ZM |             572.5|
|     SUZ |14.140000343322754|
|    GATX |            167.25|
|    ENOV | 93.16695404052734|
|     AFL |115.44000244140624|
|     NEM | 85.55000305175781|
|     FNF | 63.77999877929688|
+---------+------------------+
only showing top 15 rows

In [23]:
new_stocks.groupBy("stockname").max("Open").withColumnRenamed("max(Open)", "MaxStockPrice").show(15)

+---------+------------------+
|stockname|     MaxStockPrice|
+---------+------------------+
|     ROP | 585.2000122070312|
|     WSM | 218.4499969482422|
|      GS | 669.0800170898438|
|     MAN | 135.4600067138672|
|    GSHD |177.00999450683594|
|    GKOS |160.39999389648438|
|     BHP | 72.72078704833984|
|     PFS |28.950000762939453|
|      ZM |             572.5|
|     SUZ |14.140000343322754|
|    GATX |            167.25|
|    ENOV | 93.16695404052734|
|     AFL |115.44000244140624|
|     NEM | 85.55000305175781|
|     FNF | 63.77999877929688|
+---------+------------------+
only showing top 15 rows

In [24]:
new_stocks.groupBy("stockname").agg(max("Open").alias("MaxStockPrice")).show(15)

+---------+------------------+
|stockname|     MaxStockPrice|
+---------+------------------+
|     ROP | 585.2000122070312|
|     WSM | 218.4499969482422|
|      GS | 669.0800170898438|
|     MAN | 135.4600067138672|
|    GSHD |177.00999450683594|
|    GKOS |160.39999389648438|
|     BHP | 72.72078704833984|
|     PFS |28.950000762939453|
|      ZM |             572.5|
|     SUZ |14.140000343322754|
|    GATX |            167.25|
|    ENOV | 93.16695404052734|
|     AFL |115.44000244140624|
|     NEM | 85.55000305175781|
|     FNF | 63.77999877929688|
+---------+------------------+
only showing top 15 rows

In [25]:
new_stocks.groupBy("stockname").agg(
    max("open").alias("MaxStockPrice"),
    sum("volume").alias("TotalVolume")
).show(15)

+---------+------------------+-----------+
|stockname|     MaxStockPrice|TotalVolume|
+---------+------------------+-----------+
|     ROP | 585.2000122070312| 1265775000|
|     WSM | 218.4499969482422| 6790355900|
|      GS | 669.0800170898438| 7454028500|
|     MAN | 135.4600067138672| 1408781400|
|    GSHD |177.00999450683594|  384962900|
|    GKOS |160.39999389648438| 1251221700|
|     BHP | 72.72078704833984| 8068724943|
|     PFS |28.950000762939453|  850348800|
|      ZM |             572.5| 7172002600|
|     SUZ |14.140000343322754| 1610642200|
|    GATX |            167.25|  642718300|
|    ENOV | 93.16695404052734| 1635139281|
|     AFL |115.44000244140624| 8501723600|
|     NEM | 85.55000305175781|20342713000|
|     FNF | 63.77999877929688| 4393819967|
+---------+------------------+-----------+
only showing top 15 rows

In [26]:
new_stocks = (
    new_stocks.withColumn("Year", year(new_stocks.new_date))
    .withColumn("Month", month(new_stocks.new_date))
    .withColumn("Day", dayofmonth(new_stocks.new_date))
    .withColumn("Week", weekofyear(new_stocks.new_date))
)

In [27]:
new_stocks.show(5)

+---------+-----------------+-----------------+------------------+------------------+-------+----------+--------+----+-----+---+----+
|stockname|             open|             high|               low|             close| volume|  new_date|    time|Year|Month|Day|Week|
+---------+-----------------+-----------------+------------------+------------------+-------+----------+--------+----+-----+---+----+
|     WSM |38.02999877929688|38.06999969482422| 37.06499862670898| 37.42499923706055|1044400|2015-01-02|14:30:00|2015|    1|  2|   1|
|     WSM |            37.25|37.48500061035156| 37.04999923706055|37.244998931884766| 743200|2015-01-05|14:30:00|2015|    1|  5|   2|
|     WSM |37.21500015258789|37.45000076293945|             36.75| 37.06999969482422|1776000|2015-01-06|14:30:00|2015|    1|  6|   2|
|     WSM |37.34999847412109|38.47999954223633|37.310001373291016| 38.41999816894531|1719800|2015-01-07|14:30:00|2015|    1|  7|   2|
|     WSM |38.82500076293945|39.03499984741211| 38.64500045776367| 38.93000030517578|1342800|2015-01-08|14:30:00|2015|    1|  8|   2|
+---------+-----------------+-----------------+------------------+------------------+-------+----------+--------+----+-----+---+----+
only showing top 5 rows

In [28]:
yearly = new_stocks.groupBy(
    ['stockname', 'Year']
).agg(
    max("open").alias("YearlyHigh"), 
    min("open").alias("YearlyLow")
)
yearly.show(5)

+---------+----+------------------+------------------+
|stockname|Year|        YearlyHigh|         YearlyLow|
+---------+----+------------------+------------------+
|     WSM |2021|110.99500274658205|50.790000915527344|
|     ADP |2020| 181.3600006103516|108.52999877929688|
|    KLIC |2023|  59.7599983215332| 41.33000183105469|
|    CROX |2015|  15.9399995803833| 9.329999923706056|
|     CNC |2021| 84.95999908447266|              57.5|
+---------+----+------------------+------------------+
only showing top 5 rows

In [29]:
monthly = new_stocks.groupBy(
    ["stockname", "year", "month"]  # Ensure lowercase if needed
).agg(
    max("Open").alias("MonthlyHigh"), 
    min("Open").alias("MonthlyLow")
)
monthly.show(5)

+---------+----+-----+-----------------+------------------+
|stockname|year|month|      MonthlyHigh|        MonthlyLow|
+---------+----+-----+-----------------+------------------+
|    GMED |2022|   11|72.05000305175781|61.790000915527344|
|     ALK |2015|    8|81.55999755859375| 70.02999877929688|
|     ALK |2021|    9|61.63999938964844|56.130001068115234|
|     ADP |2016|    6|89.73999786376953| 85.94000244140625|
|     PBH |2019|    4|30.11000061035156|27.739999771118164|
+---------+----+-----+-----------------+------------------+
only showing top 5 rows

In [30]:
weekly = new_stocks.groupBy(
    ['stockname', 'Year', 'Week']
).agg(
    max("Open").alias("WeekHigh"), min("Open").alias("WeekLow")
)
weekly.show(5)

+---------+----+----+------------------+------------------+
|stockname|Year|Week|          WeekHigh|           WeekLow|
+---------+----+----+------------------+------------------+
|     WSM |2019|  17|28.700000762939453|27.864999771118164|
|     WSM |2020|  40|45.900001525878906| 43.92499923706055|
|     PNR |2017|  40|47.011417388916016|    45.60107421875|
|     PNR |2019|  35|  36.2599983215332|34.630001068115234|
|     PNR |2021|  22| 70.70999908447266|  68.0199966430664|
+---------+----+----+------------------+------------------+
only showing top 5 rows

In [31]:
weekly = weekly.withColumn(
    "Spread", weekly['WeekHigh'] - weekly['WeekLow']
)
weekly.show(5)

+---------+----+----+------------------+------------------+------------------+
|stockname|Year|Week|          WeekHigh|           WeekLow|            Spread|
+---------+----+----+------------------+------------------+------------------+
|     WSM |2019|  17|28.700000762939453|27.864999771118164|0.8350009918212891|
|     WSM |2020|  40|45.900001525878906| 43.92499923706055|1.9750022888183594|
|     PNR |2017|  40|47.011417388916016|    45.60107421875|1.4103431701660156|
|     PNR |2019|  35|  36.2599983215332|34.630001068115234|1.6299972534179688|
|     PNR |2021|  22| 70.70999908447266|  68.0199966430664|  2.69000244140625|
+---------+----+----+------------------+------------------+------------------+
only showing top 5 rows

# Joins

In [32]:
historic_stocks = new_stocks.join(
    yearly, 
    (
        new_stocks.stockname==yearly.stockname
    ) & (
        new_stocks.Year == yearly.Year
        ),
    'inner'
).drop(
    yearly.Year, 
    yearly.stockname
)

In [33]:
historic_stocks.show(5)

+------------------+------------------+------------------+------------------+-------+----------+--------+-----+---+----+---------+----+------------------+------------------+
|              open|              high|               low|             close| volume|  new_date|    time|Month|Day|Week|stockname|Year|        YearlyHigh|         YearlyLow|
+------------------+------------------+------------------+------------------+-------+----------+--------+-----+---+----+---------+----+------------------+------------------+
| 50.90499877929688| 52.90499877929688|            49.375| 51.47499847412109|2644400|2021-01-04|14:30:00|    1|  4|   1|     WSM |2021|110.99500274658205|50.790000915527344|
|50.790000915527344| 52.47499847412109| 50.72499847412109| 52.08000183105469|1747800|2021-01-05|14:30:00|    1|  5|   1|     WSM |2021|110.99500274658205|50.790000915527344|
|              51.5|53.935001373291016|              51.5| 53.45500183105469|2268800|2021-01-06|14:30:00|    1|  6|   1|     WSM |2021|110.99500274658205|50.790000915527344|
|54.380001068115234|54.959999084472656|53.619998931884766|54.275001525878906|1588400|2021-01-07|14:30:00|    1|  7|   1|     WSM |2021|110.99500274658205|50.790000915527344|
| 54.45000076293945| 55.18999862670898| 53.18000030517578| 53.94499969482422|1296600|2021-01-08|14:30:00|    1|  8|   1|     WSM |2021|110.99500274658205|50.790000915527344|
+------------------+------------------+------------------+------------------+-------+----------+--------+-----+---+----+---------+----+------------------+------------------+
only showing top 5 rows

In [34]:
cond = [
    (
        historic_stocks.stockname==weekly.stockname
    ) & (
        historic_stocks.Year == weekly.Year
    ) & (
        historic_stocks.Week == weekly.Week
    )
]
historic_stocks = historic_stocks.join(
    weekly, 
    cond, 
    'inner'
).drop(
    weekly.Year, 
    historic_stocks.stockname, 
    weekly.Week
)

In [35]:
historic_stocks.show(5)

+------------------+------------------+------------------+-----------------+-------+----------+--------+-----+---+----+-----------------+-----------------+---------+----+--------+-----------------+------------------+
|              open|              high|               low|            close| volume|  new_date|    time|Month|Day|Year|       YearlyHigh|        YearlyLow|stockname|Week|WeekHigh|          WeekLow|            Spread|
+------------------+------------------+------------------+-----------------+-------+----------+--------+-----+---+----+-----------------+-----------------+---------+----+--------+-----------------+------------------+
| 40.31999969482422|40.459999084472656| 39.70000076293945|39.79999923706055|2041800|2015-01-05|14:30:00|    1|  5|2015|43.59000015258789|33.18000030517578|       A |   2|    41.0|39.52000045776367|1.4799995422363281|
|39.810001373291016| 40.02000045776367| 39.02000045776367|39.18000030517578|2080600|2015-01-06|14:30:00|    1|  6|2015|43.59000015258789|33.18000030517578|       A |   2|    41.0|39.52000045776367|1.4799995422363281|
| 39.52000045776367|39.810001373291016|39.290000915527344|39.70000076293945|3359700|2015-01-07|14:30:00|    1|  7|2015|43.59000015258789|33.18000030517578|       A |   2|    41.0|39.52000045776367|1.4799995422363281|
|  40.2400016784668| 40.97999954223633| 40.18000030517578|40.88999938964844|2116300|2015-01-08|14:30:00|    1|  8|2015|43.59000015258789|33.18000030517578|       A |   2|    41.0|39.52000045776367|1.4799995422363281|
|              41.0|              41.0|40.290000915527344|40.59000015258789|1644900|2015-01-09|14:30:00|    1|  9|2015|43.59000015258789|33.18000030517578|       A |   2|    41.0|39.52000045776367|1.4799995422363281|
+------------------+------------------+------------------+-----------------+-------+----------+--------+-----+---+----+-----------------+-----------------+---------+----+--------+-----------------+------------------+
only showing top 5 rows

In [36]:
historic_stocks.columns

['open',
 'high',
 'low',
 'close',
 'volume',
 'new_date',
 'time',
 'Month',
 'Day',
 'Year',
 'YearlyHigh',
 'YearlyLow',
 'stockname',
 'Week',
 'WeekHigh',
 'WeekLow',
 'Spread']

In [37]:
historic_stocks = historic_stocks.join(
    monthly, [
        'stockname', 
        'Year', 
        'Month'
    ]
)
historic_stocks.show()

+---------+----+-----+------------------+------------------+------------------+------------------+-------+----------+--------+---+-----------------+-----------------+----+------------------+------------------+------------------+-----------------+------------------+
|stockname|Year|Month|              open|              high|               low|             close| volume|  new_date|    time|Day|       YearlyHigh|        YearlyLow|Week|          WeekHigh|           WeekLow|            Spread|      MonthlyHigh|        MonthlyLow|
+---------+----+-----+------------------+------------------+------------------+------------------+-------+----------+--------+---+-----------------+-----------------+----+------------------+------------------+------------------+-----------------+------------------+
|       A |2015|    2| 39.22999954223633| 39.43000030517578| 38.95000076293945|39.040000915527344|3586100|2015-02-09|14:30:00|  9|43.59000015258789|33.18000030517578|   7|39.970001220703125| 39.22999954223633|0.7400016784667969|42.34000015258789|37.900001525878906|
|       A |2015|    2|39.310001373291016|  39.7599983215332| 38.77999877929688| 39.66999816894531|1408600|2015-02-10|14:30:00| 10|43.59000015258789|33.18000030517578|   7|39.970001220703125| 39.22999954223633|0.7400016784667969|42.34000015258789|37.900001525878906|
|       A |2015|    2| 39.63999938964844|39.810001373291016| 39.22999954223633| 39.33000183105469|3336800|2015-02-11|14:30:00| 11|43.59000015258789|33.18000030517578|   7|39.970001220703125| 39.22999954223633|0.7400016784667969|42.34000015258789|37.900001525878906|
|       A |2015|    2| 39.58000183105469|40.060001373291016| 39.52999877929688| 40.02000045776367|1317700|2015-02-12|14:30:00| 12|43.59000015258789|33.18000030517578|   7|39.970001220703125| 39.22999954223633|0.7400016784667969|42.34000015258789|37.900001525878906|
|       A |2015|    2|39.970001220703125|40.310001373291016| 39.90999984741211|40.150001525878906|2211900|2015-02-13|14:30:00| 13|43.59000015258789|33.18000030517578|   7|39.970001220703125| 39.22999954223633|0.7400016784667969|42.34000015258789|37.900001525878906|
|       A |2015|    2| 41.88999938964844|41.959999084472656|  41.4900016784668| 41.72999954223633|1967900|2015-02-23|14:30:00| 23|43.59000015258789|33.18000030517578|   9| 42.34000015258789|41.619998931884766| 0.720001220703125|42.34000015258789|37.900001525878906|
|       A |2015|    2|41.619998931884766| 42.11000061035156| 41.59999847412109|42.060001373291016|1922100|2015-02-24|14:30:00| 24|43.59000015258789|33.18000030517578|   9| 42.34000015258789|41.619998931884766| 0.720001220703125|42.34000015258789|37.900001525878906|
|       A |2015|    2| 42.34000015258789|  42.4900016784668| 42.09000015258789| 42.20000076293945|2343500|2015-02-25|14:30:00| 25|43.59000015258789|33.18000030517578|   9| 42.34000015258789|41.619998931884766| 0.720001220703125|42.34000015258789|37.900001525878906|
|       A |2015|    2| 42.22999954223633|42.380001068115234|              42.0| 42.36000061035156|1505300|2015-02-26|14:30:00| 26|43.59000015258789|33.18000030517578|   9| 42.34000015258789|41.619998931884766| 0.720001220703125|42.34000015258789|37.900001525878906|
|       A |2015|    2| 42.29999923706055| 42.36000061035156| 42.04999923706055|42.209999084472656|1676400|2015-02-27|14:30:00| 27|43.59000015258789|33.18000030517578|   9| 42.34000015258789|41.619998931884766| 0.720001220703125|42.34000015258789|37.900001525878906|
|       A |2015|    2|  40.0099983215332| 40.52999877929688|  39.7599983215332| 40.52000045776367|2875800|2015-02-17|14:30:00| 17|43.59000015258789|33.18000030517578|   8|41.400001525878906|  40.0099983215332|1.3900032043457031|42.34000015258789|37.900001525878906|
|       A |2015|    2|41.119998931884766| 42.20000076293945| 40.90999984741211|41.540000915527344|9007200|2015-02-18|14:30:00| 18|43.59000015258789|33.18000030517578|   8|41.400001525878906|  40.0099983215332|1.3900032043457031|42.34000015258789|37.900001525878906|
|       A |2015|    2|41.400001525878906| 41.56999969482422|41.040000915527344|41.150001525878906|3737300|2015-02-19|14:30:00| 19|43.59000015258789|33.18000030517578|   8|41.400001525878906|  40.0099983215332|1.3900032043457031|42.34000015258789|37.900001525878906|
|       A |2015|    2| 41.09000015258789| 42.11000061035156|40.880001068115234| 41.95000076293945|2971900|2015-02-20|14:30:00| 20|43.59000015258789|33.18000030517578|   8|41.400001525878906|  40.0099983215332|1.3900032043457031|42.34000015258789|37.900001525878906|
|       A |2015|    2|37.900001525878906|  38.7599983215332|37.709999084472656| 38.68999862670898|2508500|2015-02-02|14:30:00|  2|43.59000015258789|33.18000030517578|   6|39.540000915527344|37.900001525878906|1.6399993896484375|42.34000015258789|37.900001525878906|
|       A |2015|    2|39.040000915527344|39.630001068115234| 38.91999816894531|39.619998931884766|2950400|2015-02-03|14:30:00|  3|43.59000015258789|33.18000030517578|   6|39.540000915527344|37.900001525878906|1.6399993896484375|42.34000015258789|37.900001525878906|
|       A |2015|    2| 39.33000183105469|39.459999084472656| 38.81999969482422| 39.11000061035156|2567400|2015-02-04|14:30:00|  4|43.59000015258789|33.18000030517578|   6|39.540000915527344|37.900001525878906|1.6399993896484375|42.34000015258789|37.900001525878906|
|       A |2015|    2|39.220001220703125| 39.81999969482422|39.220001220703125| 39.52999877929688|1826300|2015-02-05|14:30:00|  5|43.59000015258789|33.18000030517578|   6|39.540000915527344|37.900001525878906|1.6399993896484375|42.34000015258789|37.900001525878906|
|       A |2015|    2|39.540000915527344|39.810001373291016| 39.22999954223633| 39.34000015258789|2697200|2015-02-06|14:30:00|  6|43.59000015258789|33.18000030517578|   6|39.540000915527344|37.900001525878906|1.6399993896484375|42.34000015258789|37.900001525878906|
|       A |2015|    4| 43.33000183105469| 43.43999862670898|43.150001525878906| 43.18999862670898|1410600|2015-04-20|13:30:00| 20|43.59000015258789|33.18000030517578|  17| 43.41999816894531| 42.41999816894531|               1.0|43.59000015258789|41.459999084472656|
+---------+----+-----+------------------+------------------+------------------+------------------+-------+----------+--------+---+-----------------+-----------------+----+------------------+------------------+------------------+-----------------+------------------+
only showing top 20 rows

In [38]:
final_stocks = historic_stocks.select(
    [
        'stockname', 
        'Year',
        'Month', 
        'Day', 
        'Week', 
        'new_date',
        'Volume',
        'Open',
        'Low',
        'High',
        'Close', 
        'YearlyHigh',
        'YearlyLow',
        'WeekHigh',
        'WeekLow',
        'MonthlyHigh',
        'MonthlyLow'
    ]
)

# advanced analysis

In [39]:
final_stocks.select('stockname').distinct().collect()

25/03/11 17:25:04 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
25/03/11 17:25:05 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
25/03/11 17:25:06 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

[Row(stockname='IRM '),
 Row(stockname='ROP '),
 Row(stockname='SFM '),
 Row(stockname='GRAB '),
 Row(stockname='UNM '),
 Row(stockname='ACHR '),
 Row(stockname='DG '),
 Row(stockname='VTMX '),
 Row(stockname='CWEN '),
 Row(stockname='JNPR '),
 Row(stockname='OVV '),
 Row(stockname='VMI '),
 Row(stockname='LBRT '),
 Row(stockname='CPB '),
 Row(stockname='DVA '),
 Row(stockname='LEN-B '),
 Row(stockname='PSTG '),
 Row(stockname='XEL '),
 Row(stockname='OMAB '),
 Row(stockname='GFS '),
 Row(stockname='MTH '),
 Row(stockname='CHFFF '),
 Row(stockname='WSM '),
 Row(stockname='GS '),
 Row(stockname='RMD '),
 Row(stockname='RXO '),
 Row(stockname='MAN '),
 Row(stockname='EXPE '),
 Row(stockname='GSHD '),
 Row(stockname='SRPT '),
 Row(stockname='VRRM '),
 Row(stockname='FRT '),
 Row(stockname='PNC '),
 Row(stockname='TDS '),
 Row(stockname='CPA '),
 Row(stockname='BTSG '),
 Row(stockname='ITGR '),
 Row(stockname='NTES '),
 Row(stockname='GLNG '),
 Row(stockname='SOLV '),
 Row(stockname='ODD '),
 Row(stockname='BAP '),
 Row(stockname='GKOS '),
 Row(stockname='TROW '),
 Row(stockname='WLY '),
 Row(stockname='DLO'),
 Row(stockname='DOV '),
 Row(stockname='BKNG '),
 Row(stockname='CUK '),
 Row(stockname='DHI '),
 Row(stockname='SUZ '),
 Row(stockname='TKAMY '),
 Row(stockname='GATX '),
 Row(stockname='ITW '),
 Row(stockname='ZM '),
 Row(stockname='BHP '),
 Row(stockname='PHI '),
 Row(stockname='BAC-PE '),
 Row(stockname='PFS '),
 Row(stockname='MKL '),
 Row(stockname='AFL '),
 Row(stockname='NEM '),
 Row(stockname='BB '),
 Row(stockname='CNP '),
 Row(stockname='CSQ '),
 Row(stockname='ENOV '),
 Row(stockname='CFLT '),
 Row(stockname='FNF '),
 Row(stockname='BROS '),
 Row(stockname='TMUS '),
 Row(stockname='PLMR '),
 Row(stockname='BANC '),
 Row(stockname='BTG '),
 Row(stockname='BYDDF '),
 Row(stockname='EXP '),
 Row(stockname='LMT '),
 Row(stockname='ACVA '),
 Row(stockname='IEP '),
 Row(stockname='IQV '),
 Row(stockname='DV'),
 Row(stockname='E '),
 Row(stockname='WY '),
 Row(stockname='ATR '),
 Row(stockname='EXG '),
 Row(stockname='PAC '),
 Row(stockname='RVMD '),
 Row(stockname='SYK '),
 Row(stockname='WYNMY '),
 Row(stockname='CFG '),
 Row(stockname='ERIE '),
 Row(stockname='PH '),
 Row(stockname='GLBE '),
 Row(stockname='CBOE '),
 Row(stockname='BRC '),
 Row(stockname='AGCO '),
 Row(stockname='BF-B '),
 Row(stockname='LVMUY '),
 Row(stockname='MOS '),
 Row(stockname='PBH '),
 Row(stockname='KMPR '),
 Row(stockname='VNET '),
 Row(stockname='BC '),
 Row(stockname='GTES '),
 Row(stockname='INTC '),
 Row(stockname='VNT '),
 Row(stockname='DE '),
 Row(stockname='MRNA '),
 Row(stockname='ARWR '),
 Row(stockname='LDOS '),
 Row(stockname='ALG '),
 Row(stockname='AWK '),
 Row(stockname='NDAQ '),
 Row(stockname='PFE '),
 Row(stockname='ESTC'),
 Row(stockname='SEE '),
 Row(stockname='DLB '),
 Row(stockname='NWS '),
 Row(stockname='BRFS '),
 Row(stockname='HD '),
 Row(stockname='NEU '),
 Row(stockname='JPM-PC '),
 Row(stockname='LGF-A '),
 Row(stockname='MSTR '),
 Row(stockname='NEE '),
 Row(stockname='CNC '),
 Row(stockname='EBC '),
 Row(stockname='PCTY '),
 Row(stockname='KLC '),
 Row(stockname='CIM-PC '),
 Row(stockname='TM '),
 Row(stockname='OPHLY '),
 Row(stockname='SCHW-PD '),
 Row(stockname='SIG '),
 Row(stockname='TSLA '),
 Row(stockname='VEON '),
 Row(stockname='WMG '),
 Row(stockname='ABG '),
 Row(stockname='OSK '),
 Row(stockname='RRC '),
 Row(stockname='AIG '),
 Row(stockname='LGND '),
 Row(stockname='CAVA '),
 Row(stockname='ACHC'),
 Row(stockname='AGI '),
 Row(stockname='BMA '),
 Row(stockname='DD '),
 Row(stockname='PNR '),
 Row(stockname='MUSA '),
 Row(stockname='CIG '),
 Row(stockname='DTE '),
 Row(stockname='VTR '),
 Row(stockname='CRC '),
 Row(stockname='KMX '),
 Row(stockname='AYI '),
 Row(stockname='PATH '),
 Row(stockname='SYBT '),
 Row(stockname='TNET '),
 Row(stockname='MDLZ '),
 Row(stockname='RARE '),
 Row(stockname='BUR '),
 Row(stockname='WTFC '),
 Row(stockname='BANR '),
 Row(stockname='CHTR '),
 Row(stockname='USAC '),
 Row(stockname='FTNT '),
 Row(stockname='SAP '),
 Row(stockname='GL '),
 Row(stockname='ATKR '),
 Row(stockname='UNLRF '),
 Row(stockname='HAGHY '),
 Row(stockname='IOSP '),
 Row(stockname='CIEN '),
 Row(stockname='EGP '),
 Row(stockname='FMCKP '),
 Row(stockname='JKHY '),
 Row(stockname='LECO '),
 Row(stockname='MKTX '),
 Row(stockname='NVG '),
 Row(stockname='SIEGY '),
 Row(stockname='VLY '),
 Row(stockname='WH '),
 Row(stockname='TFSL '),
 Row(stockname='TR '),
 Row(stockname='DKL '),
 Row(stockname='QXO '),
 Row(stockname='AGNC '),
 Row(stockname='DDS '),
 Row(stockname='FSS '),
 Row(stockname='MCK '),
 Row(stockname='LYSDY '),
 Row(stockname='PSX '),
 Row(stockname='ADI '),
 Row(stockname='ADYEY '),
 Row(stockname='CYBR '),
 Row(stockname='FIVE '),
 Row(stockname='J '),
 Row(stockname='PHJMF '),
 Row(stockname='APPN '),
 Row(stockname='F'),
 Row(stockname='MAT '),
 Row(stockname='RJF '),
 Row(stockname='TMDX '),
 Row(stockname='VFC '),
 Row(stockname='AMCR '),
 Row(stockname='OII '),
 Row(stockname='SYNA '),
 Row(stockname='BBDO '),
 Row(stockname='OMF '),
 Row(stockname='ASX '),
 Row(stockname='SGRY '),
 Row(stockname='CFRUY '),
 Row(stockname='CSWI '),
 Row(stockname='FRSH '),
 Row(stockname='HUBG '),
 Row(stockname='SU '),
 Row(stockname='AMG '),
 Row(stockname='JTKWY '),
 Row(stockname='FITB '),
 Row(stockname='SBCF '),
 Row(stockname='WF '),
 Row(stockname='PPERY '),
 Row(stockname='PAYO '),
 Row(stockname='VIST '),
 Row(stockname='KT '),
 Row(stockname='KGFHY '),
 Row(stockname='AGIO '),
 Row(stockname='STNE '),
 Row(stockname='NMRK '),
 Row(stockname='SPHXF '),
 Row(stockname='CENTA '),
 Row(stockname='CRSP '),
 Row(stockname='CRUS '),
 Row(stockname='NWG '),
 Row(stockname='XENE '),
 Row(stockname='APTV '),
 Row(stockname='TRMK '),
 Row(stockname='QFIN '),
 Row(stockname='ALVO '),
 Row(stockname='BNL '),
 Row(stockname='KAR '),
 Row(stockname='LSCC '),
 Row(stockname='RPM '),
 Row(stockname='CPT '),
 Row(stockname='EGFEF '),
 Row(stockname='WPC '),
 Row(stockname='AEO '),
 Row(stockname='CMPGY '),
 Row(stockname='CRARY '),
 Row(stockname='MRAAY '),
 Row(stockname='ORCL '),
 Row(stockname='VRTX '),
 Row(stockname='CHWY '),
 Row(stockname='PTGX '),
 Row(stockname='RNMBY '),
 Row(stockname='TRI '),
 Row(stockname='BKH '),
 Row(stockname='PTEN '),
 Row(stockname='VRNA '),
 Row(stockname='NATL '),
 Row(stockname='NWL '),
 Row(stockname='FHB '),
 Row(stockname='MOH '),
 Row(stockname='WEX '),
 Row(stockname='ING '),
 Row(stockname='AAGIY '),
 Row(stockname='DIPGF '),
 Row(stockname='BPOP '),
 Row(stockname='TOST '),
 Row(stockname='ONTO '),
 Row(stockname='ZGN '),
 Row(stockname='COKE '),
 Row(stockname='NTDOY '),
 Row(stockname='RIOT '),
 Row(stockname='PSNY '),
 Row(stockname='ROK '),
 Row(stockname='LNW '),
 Row(stockname='PNFP '),
 Row(stockname='ALIT '),
 Row(stockname='HSY '),
 Row(stockname='IR '),
 Row(stockname='TTD '),
 Row(stockname='UFPI '),
 Row(stockname='ALHC'),
 Row(stockname='GFF '),
 Row(stockname='PNW '),
 Row(stockname='ZG '),
 Row(stockname='UBS '),
 Row(stockname='VWAGY '),
 Row(stockname='VIK '),
 Row(stockname='CP '),
 Row(stockname='FWONK '),
 Row(stockname='MANU '),
 Row(stockname='MBGYY '),
 Row(stockname='DAY '),
 Row(stockname='VIAV '),
 Row(stockname='HTGC '),
 Row(stockname='BRZE '),
 Row(stockname='AMX '),
 Row(stockname='DSGX '),
 Row(stockname='ETSY '),
 Row(stockname='JBHT '),
 Row(stockname='RRX '),
 Row(stockname='SHO '),
 Row(stockname='SHW '),
 Row(stockname='SLGN '),
 Row(stockname='FUL '),
 Row(stockname='MNST '),
 Row(stockname='KBH '),
 Row(stockname='UMBF '),
 Row(stockname='SMMT '),
 Row(stockname='DFH '),
 Row(stockname='BAX '),
 Row(stockname='DJTWW '),
 Row(stockname='GEV '),
 Row(stockname='QRVO '),
 Row(stockname='VC '),
 Row(stockname='WPM '),
 Row(stockname='CUBE '),
 Row(stockname='IRDM '),
 Row(stockname='KDP '),
 Row(stockname='TTC '),
 Row(stockname='FND '),
 Row(stockname='ETR '),
 Row(stockname='MEDP '),
 Row(stockname='SOUN'),
 Row(stockname='OC '),
 Row(stockname='BCC '),
 Row(stockname='ACT '),
 Row(stockname='AMRX '),
 Row(stockname='IRTC '),
 Row(stockname='TNL '),
 Row(stockname='NCLH '),
 Row(stockname='PK '),
 Row(stockname='HUM '),
 Row(stockname='GRND '),
 Row(stockname='BN '),
 Row(stockname='CBRE '),
 Row(stockname='WDFC '),
 Row(stockname='ABNB '),
 Row(stockname='BIO '),
 Row(stockname='HCA '),
 Row(stockname='LYV '),
 Row(stockname='SBRA '),
 Row(stockname='CTSH '),
 Row(stockname='AESI '),
 Row(stockname='AAON '),
 Row(stockname='EMR '),
 Row(stockname='LUV '),
 Row(stockname='BXMT '),
 Row(stockname='FDX '),
 Row(stockname='ON '),
 Row(stockname='LIVN '),
 Row(stockname='LNC '),
 Row(stockname='JXN '),
 Row(stockname='SMTC '),
 Row(stockname='OKLO '),
 Row(stockname='KSPI '),
 Row(stockname='MASI '),
 Row(stockname='NSIT '),
 Row(stockname='SPR '),
 Row(stockname='XNYIF '),
 Row(stockname='AIN '),
 Row(stockname='CSCO '),
 Row(stockname='STWD '),
 Row(stockname='PSA '),
 Row(stockname='CMG '),
 Row(stockname='GTLS '),
 Row(stockname='MKSI '),
 Row(stockname='SPGI '),
 Row(stockname='AVTR '),
 Row(stockname='EPR '),
 Row(stockname='EFX '),
 Row(stockname='FOXA '),
 Row(stockname='CX '),
 Row(stockname='PRGO'),
 Row(stockname='PTCT '),
 Row(stockname='BMY '),
 Row(stockname='CRM '),
 Row(stockname='FLR '),
 Row(stockname='GSAT '),
 Row(stockname='HAE '),
 Row(stockname='HWKN '),
 Row(stockname='SMCI '),
 Row(stockname='CGEMY '),
 Row(stockname='LYG '),
 Row(stockname='BHVN '),
 Row(stockname='NOV '),
 Row(stockname='BX '),
 Row(stockname='FRME '),
 Row(stockname='CL '),
 Row(stockname='IDA '),
 Row(stockname='RBA '),
 Row(stockname='SMCAY '),
 Row(stockname='ATI '),
 Row(stockname='MT '),
 Row(stockname='TBBB '),
 Row(stockname='ASH '),
 Row(stockname='PPCB '),
 Row(stockname='RGLD '),
 Row(stockname='CPRT '),
 Row(stockname='TSN '),
 Row(stockname='CRL '),
 Row(stockname='GLPI '),
 Row(stockname='HTHT '),
 Row(stockname='IDCBF '),
 Row(stockname='HOPHF '),
 Row(stockname='TYL '),
 Row(stockname='SKWD '),
 Row(stockname='BILI '),
 Row(stockname='BYDDY '),
 Row(stockname='GCMG '),
 Row(stockname='SUI '),
 Row(stockname='WDS '),
 Row(stockname='ELS '),
 Row(stockname='DKNG '),
 Row(stockname='TKR '),
 Row(stockname='HCP '),
 Row(stockname='TSEM '),
 Row(stockname='DNB '),
 Row(stockname='LI '),
 Row(stockname='AXS '),
 Row(stockname='CACI '),
 Row(stockname='CHKP '),
 Row(stockname='LVS '),
 Row(stockname='RBGLY '),
 Row(stockname='TIMB '),
 Row(stockname='WAFD '),
 Row(stockname='SRRK '),
 Row(stockname='ABT '),
 Row(stockname='UNVGY '),
 Row(stockname='WRD '),
 Row(stockname='HAFN '),
 Row(stockname='BMRN '),
 Row(stockname='BP '),
 Row(stockname='IMBBY '),
 Row(stockname='GGB '),
 Row(stockname='AKR '),
 Row(stockname='ZI '),
 Row(stockname='ETN '),
 Row(stockname='SNV '),
 Row(stockname='CADE '),
 Row(stockname='DAR '),
 Row(stockname='DIOD '),
 Row(stockname='MLM '),
 Row(stockname='NVR '),
 Row(stockname='PEGA '),
 Row(stockname='KLAC '),
 Row(stockname='OMC '),
 Row(stockname='COO '),
 Row(stockname='FCN '),
 Row(stockname='IOT '),
 Row(stockname='CAR '),
 Row(stockname='EDR '),
 Row(stockname='MHK '),
 Row(stockname='TGS '),
 Row(stockname='AVA '),
 Row(stockname='QCOM '),
 Row(stockname='SKM '),
 Row(stockname='KD '),
 Row(stockname='VICR '),
 Row(stockname='PR '),
 Row(stockname='WM '),
 Row(stockname='FANG '),
 Row(stockname='GBCI '),
 Row(stockname='AVGO '),
 Row(stockname='CVS '),
 Row(stockname='PTON '),
 Row(stockname='ALLE '),
 Row(stockname='TFII '),
 Row(stockname='L '),
 Row(stockname='MTG '),
 Row(stockname='RIG '),
 Row(stockname='XIACY '),
 Row(stockname='OWL '),
 Row(stockname='JNJ '),
 Row(stockname='LFUS '),
 Row(stockname='MDB '),
 Row(stockname='MLTX '),
 Row(stockname='PSO '),
 Row(stockname='ARLP '),
 Row(stockname='F '),
 Row(stockname='GM '),
 Row(stockname='KBR '),
 Row(stockname='DFS '),
 Row(stockname='IDXX '),
 Row(stockname='SOFI '),
 Row(stockname='WMS '),
 Row(stockname='PRGS '),
 Row(stockname='WIT '),
 Row(stockname='BLD '),
 Row(stockname='BOOT '),
 Row(stockname='BSBR '),
 Row(stockname='DTEGY '),
 Row(stockname='ILMN '),
 Row(stockname='JJSF '),
 Row(stockname='SBSW '),
 Row(stockname='SNN '),
 Row(stockname='SPXC '),
 Row(stockname='BML-PL '),
 Row(stockname='IMO '),
 Row(stockname='TD '),
 Row(stockname='GRMN '),
 Row(stockname='NFE '),
 Row(stockname='OHI '),
 Row(stockname='CROX '),
 Row(stockname='IAC '),
 Row(stockname='ROAD '),
 Row(stockname='FLS '),
 Row(stockname='GIL '),
 Row(stockname='AVT '),
 Row(stockname='NXT '),
 Row(stockname='BLDR '),
 Row(stockname='CCS '),
 Row(stockname='CLBT '),
 Row(stockname='CYTK '),
 Row(stockname='IBKR '),
 Row(stockname='MGDDY '),
 Row(stockname='STRL '),
 Row(stockname='ESGR '),
 Row(stockname='RYTM '),
 Row(stockname='TAK '),
 Row(stockname='DEO '),
 Row(stockname='QSR '),
 Row(stockname='DV '),
 Row(stockname='NEE-PR '),
 Row(stockname='ALLY '),
 Row(stockname='EADSY '),
 Row(stockname='FCX '),
 Row(stockname='NET '),
 Row(stockname='ALE '),
 Row(stockname='DHR '),
 Row(stockname='NVCR '),
 Row(stockname='ALGM '),
 Row(stockname='INGR '),
 Row(stockname='ALIZY '),
 Row(stockname='FIS '),
 Row(stockname='SPSC '),
 Row(stockname='STNG '),
 Row(stockname='NBIX '),
 Row(stockname='NEXT '),
 Row(stockname='SHAK '),
 Row(stockname='SW '),
 Row(stockname='CM '),
 Row(stockname='VRSK '),
 Row(stockname='VMC '),
 Row(stockname='CEG '),
 Row(stockname='DT '),
 Row(stockname='FMCKJ '),
 Row(stockname='RFGPF '),
 Row(stockname='SXT '),
 Row(stockname='LBTYA '),
 Row(stockname='TECK '),
 Row(stockname='GDV '),
 Row(stockname='SARO '),
 Row(stockname='BF-A '),
 Row(stockname='OSIS '),
 Row(stockname='PDCO '),
 Row(stockname='RCI '),
 Row(stockname='STLD '),
 Row(stockname='STX '),
 Row(stockname='TSLX '),
 Row(stockname='CASY '),
 Row(stockname='FIVN '),
 Row(stockname='SEM '),
 Row(stockname='APAM '),
 Row(stockname='LAD '),
 Row(stockname='LH '),
 Row(stockname='BANF '),
 Row(stockname='BILL '),
 Row(stockname='EGO '),
 Row(stockname='NGG '),
 Row(stockname='NLY-PF '),
 Row(stockname='EQNR '),
 Row(stockname='RNR '),
 Row(stockname='TXRH '),
 Row(stockname='CLH '),
 Row(stockname='FG '),
 Row(stockname='MSM '),
 Row(stockname='RKLB '),
 Row(stockname='HTHIY '),
 Row(stockname='NHI '),
 Row(stockname='SR '),
 Row(stockname='TAP '),
 Row(stockname='CLPBY '),
 Row(stockname='LHX '),
 Row(stockname='UAL '),
 Row(stockname='USM '),
 Row(stockname='ORANY '),
 Row(stockname='ZS '),
 Row(stockname='WMT '),
 Row(stockname='TX '),
 Row(stockname='RYN '),
 Row(stockname='ABR '),
 Row(stockname='AGO '),
 Row(stockname='GLW '),
 Row(stockname='HNLGF '),
 Row(stockname='CGNX '),
 Row(stockname='GRBK '),
 Row(stockname='EXPO '),
 Row(stockname='TTDKY '),
 Row(stockname='MIR '),
 Row(stockname='CMA '),
 Row(stockname='TXT '),
 Row(stockname='GS-PC '),
 Row(stockname='JOE '),
 Row(stockname='PAG '),
 Row(stockname='STT-PG '),
 Row(stockname='DOW '),
 Row(stockname='EPAC '),
 Row(stockname='ALTM '),
 Row(stockname='IONQ '),
 Row(stockname='WFRD '),
 Row(stockname='TTEK '),
 Row(stockname='APA '),
 Row(stockname='APP '),
 Row(stockname='GBDC '),
 Row(stockname='IFNNY '),
 Row(stockname='PRK '),
 Row(stockname='DY '),
 Row(stockname='ESRT '),
 Row(stockname='IHG '),
 Row(stockname='PRKS '),
 Row(stockname='SJM '),
 Row(stockname='FR '),
 Row(stockname='BAM '),
 Row(stockname='SOBO '),
 Row(stockname='AIR '),
 Row(stockname='CBSH '),
 Row(stockname='IFS '),
 Row(stockname='MHO '),
 Row(stockname='PG '),
 Row(stockname='UTHR '),
 Row(stockname='EMN '),
 Row(stockname='GBTG '),
 Row(stockname='HUBB '),
 Row(stockname='NXRT '),
 Row(stockname='BECN '),
 Row(stockname='ALGN '),
 Row(stockname='NEOG '),
 Row(stockname='GDS '),
 Row(stockname='CCOEY '),
 Row(stockname='CNO '),
 Row(stockname='FMS '),
 Row(stockname='INSP '),
 Row(stockname='MRK '),
 Row(stockname='NABZY '),
 Row(stockname='TEO '),
 Row(stockname='VOYA-PB '),
 Row(stockname='BMWKY '),
 Row(stockname='DELL '),
 Row(stockname='HPQ '),
 Row(stockname='AME '),
 Row(stockname='LLYVK '),
 Row(stockname='GMAB '),
 Row(stockname='GWW '),
 Row(stockname='NIO '),
 Row(stockname='YY '),
 Row(stockname='CBU '),
 Row(stockname='CDE '),
 Row(stockname='CNS '),
 Row(stockname='HLT '),
 Row(stockname='REGN '),
 Row(stockname='AU '),
 Row(stockname='HUN '),
 Row(stockname='INTA '),
 Row(stockname='BIDU '),
 Row(stockname='SXI '),
 Row(stockname='NFLX '),
 Row(stockname='ACI '),
 Row(stockname='OGN '),
 Row(stockname='EXE '),
 Row(stockname='GPK '),
 Row(stockname='NXE '),
 Row(stockname='RSG '),
 Row(stockname='BNTX '),
 Row(stockname='CITAF '),
 Row(stockname='COR '),
 Row(stockname='MSBHF '),
 Row(stockname='NNN '),
 Row(stockname='NVDA '),
 Row(stockname='RF-PC '),
 Row(stockname='BEKE '),
 Row(stockname='GXO '),
 Row(stockname='ACM '),
 Row(stockname='CVCO '),
 Row(stockname='DBRG '),
 Row(stockname='UNLRY '),
 Row(stockname='MA '),
 Row(stockname='CBT '),
 Row(stockname='HQY '),
 Row(stockname='MTX '),
 Row(stockname='RCRUY '),
 Row(stockname='AL '),
 Row(stockname='PBR '),
 Row(stockname='CPRX '),
 Row(stockname='JWN '),
 Row(stockname='SECYF '),
 Row(stockname='LYB '),
 Row(stockname='SNEX '),
 Row(stockname='PTC '),
 Row(stockname='HGTY '),
 Row(stockname='ABBV '),
 Row(stockname='INTU '),
 Row(stockname='KEX '),
 Row(stockname='MLI '),
 Row(stockname='NTRA '),
 Row(stockname='ORI '),
 Row(stockname='OTIS '),
 Row(stockname='FIBK '),
 Row(stockname='AXON '),
 Row(stockname='LYFT '),
 Row(stockname='ATHM '),
 Row(stockname='BAC-PB '),
 Row(stockname='PWR '),
 Row(stockname='SKYW '),
 Row(stockname='IBN '),
 Row(stockname='REZI '),
 Row(stockname='TGT '),
 Row(stockname='VNO-PM '),
 Row(stockname='CATY '),
 Row(stockname='LSTR '),
 Row(stockname='ENVA '),
 Row(stockname='RITM '),
 Row(stockname='TEAM '),
 Row(stockname='YOU '),
 Row(stockname='CXT '),
 Row(stockname='CNH '),
 Row(stockname='META '),
 Row(stockname='PSLV '),
 Row(stockname='ROIV '),
 Row(stockname='MTB '),
 Row(stockname='IIPR '),
 Row(stockname='LNSTY '),
 Row(stockname='ITCI '),
 Row(stockname='TRU '),
 Row(stockname='ESAB '),
 Row(stockname='CVLT '),
 Row(stockname='KKPNY '),
 Row(stockname='KTOS '),
 Row(stockname='RNST '),
 Row(stockname='RS '),
 Row(stockname='STR '),
 Row(stockname='PEN '),
 Row(stockname='WMB '),
 Row(stockname='MNSO '),
 Row(stockname='GME '),
 Row(stockname='ELF '),
 Row(stockname='GSK '),
 Row(stockname='LBTYK '),
 Row(stockname='NPSNY '),
 Row(stockname='ENR '),
 Row(stockname='ODFL '),
 Row(stockname='SAXPY '),
 Row(stockname='UE '),
 Row(stockname='CCOI '),
 Row(stockname='AI '),
 Row(stockname='CB '),
 Row(stockname='CELH '),
 Row(stockname='IESC '),
 Row(stockname='SYY '),
 Row(stockname='NSRGY '),
 Row(stockname='BEPC '),
 Row(stockname='KFY '),
 Row(stockname='BDC '),
 Row(stockname='QLYS '),
 Row(stockname='LB '),
 Row(stockname='ALHC '),
 Row(stockname='CMI '),
 Row(stockname='DCI '),
 Row(stockname='NKE '),
 Row(stockname='CARG '),
 Row(stockname='IX '),
 Row(stockname='LEVI '),
 Row(stockname='MCY '),
 Row(stockname='AZEK '),
 Row(stockname='ASTS '),
 Row(stockname='DDOG '),
 Row(stockname='HBAN '),
 Row(stockname='REG '),
 Row(stockname='THO '),
 Row(stockname='NU '),
 Row(stockname='RACE '),
 Row(stockname='EA '),
 Row(stockname='ECG '),
 Row(stockname='ATGE '),
 Row(stockname='CFR '),
 Row(stockname='LUMN '),
 Row(stockname='TTE '),
 Row(stockname='LCID'),
 Row(stockname='TIGO '),
 Row(stockname='VERX '),
 Row(stockname='FITBI '),
 Row(stockname='FSV '),
 Row(stockname='SWTX '),
 Row(stockname='BSY '),
 Row(stockname='CEF '),
 Row(stockname='MSGS '),
 Row(stockname='NPO '),
 Row(stockname='GNTX '),
 Row(stockname='IBRX '),
 Row(stockname='KMB '),
 Row(stockname='TAL '),
 Row(stockname='TT '),
 Row(stockname='MIRM '),
 Row(stockname='VFS '),
 Row(stockname='HRL '),
 Row(stockname='CRK '),
 Row(stockname='EME '),
 Row(stockname='PPBI '),
 Row(stockname='RDNT '),
 Row(stockname='UTF '),
 Row(stockname='SSLZY '),
 Row(stockname='WFC-PC '),
 Row(stockname='BUD '),
 Row(stockname='FFIV '),

In [40]:
final_stocks.show(5)

+---------+----+-----+---+----+----------+-------+------------------+-----------------+------------------+------------------+-----------------+-----------------+------------------+-----------------+-----------------+------------------+
|stockname|Year|Month|Day|Week|  new_date| Volume|              Open|              Low|              High|             Close|       YearlyHigh|        YearlyLow|          WeekHigh|          WeekLow|      MonthlyHigh|        MonthlyLow|
+---------+----+-----+---+----+----------+-------+------------------+-----------------+------------------+------------------+-----------------+-----------------+------------------+-----------------+-----------------+------------------+
|       A |2015|    2|  9|   7|2015-02-09|3586100| 39.22999954223633|38.95000076293945| 39.43000030517578|39.040000915527344|43.59000015258789|33.18000030517578|39.970001220703125|39.22999954223633|42.34000015258789|37.900001525878906|
|       A |2015|    2| 10|   7|2015-02-10|1408600|39.310001373291016|38.77999877929688|  39.7599983215332| 39.66999816894531|43.59000015258789|33.18000030517578|39.970001220703125|39.22999954223633|42.34000015258789|37.900001525878906|
|       A |2015|    2| 11|   7|2015-02-11|3336800| 39.63999938964844|39.22999954223633|39.810001373291016| 39.33000183105469|43.59000015258789|33.18000030517578|39.970001220703125|39.22999954223633|42.34000015258789|37.900001525878906|
|       A |2015|    2| 12|   7|2015-02-12|1317700| 39.58000183105469|39.52999877929688|40.060001373291016| 40.02000045776367|43.59000015258789|33.18000030517578|39.970001220703125|39.22999954223633|42.34000015258789|37.900001525878906|
|       A |2015|    2| 13|   7|2015-02-13|2211900|39.970001220703125|39.90999984741211|40.310001373291016|40.150001525878906|43.59000015258789|33.18000030517578|39.970001220703125|39.22999954223633|42.34000015258789|37.900001525878906|
+---------+----+-----+---+----+----------+-------+------------------+-----------------+------------------+------------------+-----------------+-----------------+------------------+-----------------+-----------------+------------------+
only showing top 5 rows

In [41]:
final_stocks.createOrReplaceTempView('stockData')

In [42]:
spark.sql("SELECT * FROM stockData where stockname='MSFT ' and Year=2015").show(5)

+---------+----+-----+---+----+----------+--------+------------------+------------------+-----------------+-----------------+------------------+-----------------+------------------+------------------+------------------+------------------+
|stockname|Year|Month|Day|Week|  new_date|  Volume|              Open|               Low|             High|            Close|        YearlyHigh|        YearlyLow|          WeekHigh|           WeekLow|       MonthlyHigh|        MonthlyLow|
+---------+----+-----+---+----+----------+--------+------------------+------------------+-----------------+-----------------+------------------+-----------------+------------------+------------------+------------------+------------------+
|    MSFT |2015|    6|  1|  23|2015-06-01|28837300|47.060001373291016|46.619998931884766|47.77000045776367|47.22999954223633|56.470001220703125|40.34000015258789|47.369998931884766|46.310001373291016|47.369998931884766|44.709999084472656|
|    MSFT |2015|    6|  2|  23|2015-06-02|21498300| 46.93000030517578|46.619998931884766|47.34999847412109|46.91999816894531|56.470001220703125|40.34000015258789|47.369998931884766|46.310001373291016|47.369998931884766|44.709999084472656|
|    MSFT |2015|    6|  3|  23|2015-06-03|28002200|47.369998931884766| 46.81999969482422| 47.7400016784668|46.84999847412109|56.470001220703125|40.34000015258789|47.369998931884766|46.310001373291016|47.369998931884766|44.709999084472656|
|    MSFT |2015|    6|  4|  23|2015-06-04|27745500|46.790000915527344| 46.20000076293945|47.15999984741211|46.36000061035156|56.470001220703125|40.34000015258789|47.369998931884766|46.310001373291016|47.369998931884766|44.709999084472656|
|    MSFT |2015|    6|  5|  23|2015-06-05|25438100|46.310001373291016| 45.84000015258789|46.52000045776367|46.13999938964844|56.470001220703125|40.34000015258789|47.369998931884766|46.310001373291016|47.369998931884766|44.709999084472656|
+---------+----+-----+---+----+----------+--------+------------------+------------------+-----------------+-----------------+------------------+-----------------+------------------+------------------+------------------+------------------+
only showing top 5 rows

In [43]:
snapshot_open = historic_stocks.select(['new_date','stockname','open'])
snapshot_open.show()

+----------+---------+------------------+
|  new_date|stockname|              open|
+----------+---------+------------------+
|2015-01-05|       A | 40.31999969482422|
|2015-01-06|       A |39.810001373291016|
|2015-01-07|       A | 39.52000045776367|
|2015-01-08|       A |  40.2400016784668|
|2015-01-09|       A |              41.0|
|2015-01-20|       A | 38.43000030517578|
|2015-01-21|       A |             37.75|
|2015-01-22|       A |  38.5099983215332|
|2015-01-23|       A | 39.59999847412109|
|2015-03-02|       A | 42.34000015258789|
|2015-03-03|       A | 42.45000076293945|
|2015-03-04|       A | 41.95000076293945|
|2015-03-05|       A |  41.9900016784668|
|2015-03-06|       A | 41.95000076293945|
|2015-04-20|       A | 43.33000183105469|
|2015-04-21|       A | 43.41999816894531|
|2015-04-22|       A |42.720001220703125|
|2015-04-23|       A | 42.41999816894531|
|2015-04-24|       A |42.709999084472656|
|2015-05-18|       A | 42.04999923706055|
+----------+---------+------------------+
only showing top 20 rows

In [44]:
lag1day = Window.partitionBy("stockname").\
    orderBy('new_date')

In [45]:
snapshot_open.withColumn(
    "previous_open",
    lag(
        'open',1
    ).over(
        lag1day
    )
).show()

+----------+---------+------------------+------------------+
|  new_date|stockname|              open|     previous_open|
+----------+---------+------------------+------------------+
|2015-01-02|   AAGIY |22.459999084472656|              NULL|
|2015-01-05|   AAGIY | 22.09000015258789|22.459999084472656|
|2015-01-06|   AAGIY |21.479999542236328| 22.09000015258789|
|2015-01-07|   AAGIY | 21.63999938964844|21.479999542236328|
|2015-01-08|   AAGIY |21.940000534057617| 21.63999938964844|
|2015-01-09|   AAGIY | 22.11000061035156|21.940000534057617|
|2015-01-12|   AAGIY |22.040000915527344| 22.11000061035156|
|2015-01-13|   AAGIY | 22.65999984741211|22.040000915527344|
|2015-01-14|   AAGIY | 22.63999938964844| 22.65999984741211|
|2015-01-15|   AAGIY |23.270000457763672| 22.63999938964844|
|2015-01-16|   AAGIY |23.190000534057617|23.270000457763672|
|2015-01-20|   AAGIY | 23.21999931335449|23.190000534057617|
|2015-01-21|   AAGIY |23.030000686645508| 23.21999931335449|
|2015-01-22|   AAGIY |23.149999618530277|23.030000686645508|
|2015-01-23|   AAGIY |23.149999618530277|23.149999618530277|
|2015-01-26|   AAGIY |23.239999771118164|23.149999618530277|
|2015-01-27|   AAGIY |23.270000457763672|23.239999771118164|
|2015-01-28|   AAGIY |23.850000381469727|23.270000457763672|
|2015-01-29|   AAGIY | 23.36000061035156|23.850000381469727|
|2015-01-30|   AAGIY |  23.3700008392334| 23.36000061035156|
+----------+---------+------------------+------------------+
only showing top 20 rows

In [46]:
movingaverage = Window.partitionBy("stockname").orderBy(
    "new_date"
).rowsBetween(-50,0)

In [47]:
(
    snapshot_open.withColumn(
        "MA50", avg('open').over(movingaverage)
    ).withColumn(
        "MA50", round("MA50", 2) 
    )
).show()

+----------+---------+------------------+-----+
|  new_date|stockname|              open| MA50|
+----------+---------+------------------+-----+
|2015-01-02|   AAGIY |22.459999084472656|22.46|
|2015-01-05|   AAGIY | 22.09000015258789|22.27|
|2015-01-06|   AAGIY |21.479999542236328|22.01|
|2015-01-07|   AAGIY | 21.63999938964844|21.92|
|2015-01-08|   AAGIY |21.940000534057617|21.92|
|2015-01-09|   AAGIY | 22.11000061035156|21.95|
|2015-01-12|   AAGIY |22.040000915527344|21.97|
|2015-01-13|   AAGIY | 22.65999984741211|22.05|
|2015-01-14|   AAGIY | 22.63999938964844|22.12|
|2015-01-15|   AAGIY |23.270000457763672|22.23|
|2015-01-16|   AAGIY |23.190000534057617|22.32|
|2015-01-20|   AAGIY | 23.21999931335449|22.39|
|2015-01-21|   AAGIY |23.030000686645508|22.44|
|2015-01-22|   AAGIY |23.149999618530277|22.49|
|2015-01-23|   AAGIY |23.149999618530277|22.54|
|2015-01-26|   AAGIY |23.239999771118164|22.58|
|2015-01-27|   AAGIY |23.270000457763672|22.62|
|2015-01-28|   AAGIY |23.850000381469727|22.69|
|2015-01-29|   AAGIY | 23.36000061035156|22.73|
|2015-01-30|   AAGIY |  23.3700008392334|22.76|
+----------+---------+------------------+-----+
only showing top 20 rows

In [48]:
maximumstock = Window.partitionBy(
    "stockname"
).orderBy(snapshot_open.open.desc())

In [49]:
snapshot_open.withColumn(
    "maxopen",
    row_number().over(maximumstock)
).show()

+----------+---------+------------------+-------+
|  new_date|stockname|              open|maxopen|
+----------+---------+------------------+-------+
|2021-01-19|   AAGIY |55.650001525878906|      1|
|2021-02-17|   AAGIY |55.310001373291016|      2|
|2021-01-20|   AAGIY |54.880001068115234|      3|
|2021-02-23|   AAGIY |              54.5|      4|
|2021-01-15|   AAGIY | 54.34000015258789|      5|
|2021-02-16|   AAGIY | 54.16999816894531|      6|
|2021-04-29|   AAGIY | 54.16999816894531|      7|
|2021-05-18|   AAGIY | 54.06999969482422|      8|
|2021-01-12|   AAGIY | 53.68999862670898|      9|
|2021-02-09|   AAGIY | 53.52000045776367|     10|
|2021-05-28|   AAGIY | 53.40999984741211|     11|
|2021-05-17|   AAGIY | 53.31999969482422|     12|
|2021-02-10|   AAGIY |  53.2599983215332|     13|
|2021-05-14|   AAGIY |  53.2599983215332|     14|
|2021-05-07|   AAGIY |53.220001220703125|     15|
|2021-01-13|   AAGIY |53.209999084472656|     16|
|2021-02-12|   AAGIY | 53.20000076293945|     17|
|2021-05-20|   AAGIY | 53.09999847412109|     18|
|2021-05-19|   AAGIY | 53.09000015258789|     19|
|2021-05-21|   AAGIY |53.040000915527344|     20|
+----------+---------+------------------+-------+
only showing top 20 rows

In [50]:
snapshot_open.withColumn(
    "maxopen",
    row_number().over(maximumstock)
).filter('maxopen=5').show()

+----------+---------+------------------+-------+
|  new_date|stockname|              open|maxopen|
+----------+---------+------------------+-------+
|2021-09-13|       A |177.66000366210938|      5|
|2022-03-31|      AA | 91.66999816894533|      5|
|2021-01-15|   AAGIY | 54.34000015258789|      5|
|2018-01-22|     AAL |  57.9900016784668|      5|
|2024-12-09|    AAON |            138.25|      5|
|2022-01-07|     AAP | 239.9600067138672|      5|
|2024-12-31|    AAPL |252.44000244140625|      5|
|2021-11-04|      AB | 56.45000076293945|      5|
|2024-09-27|   ABBNY |58.900001525878906|      5|
|2024-11-04|    ABBV | 203.7899932861328|      5|
|2024-11-11|    ABCB | 71.19000244140625|      5|
|2018-03-26|    ABEV | 7.239999771118164|      5|
|2025-02-18|     ABG | 302.4599914550781|      5|
|2024-11-13|     ABM |             57.75|      5|
|2021-03-16|    ABNB | 209.1100006103516|      5|
|2021-10-28|     ABR | 19.88999938964844|      5|
|2021-12-27|     ABT |139.82000732421875|      5|
|2024-12-03|     ACA |108.94000244140624|      5|
|2020-12-02|    ACAD |              56.5|      5|
|2024-09-17|    ACGL |114.11000061035156|      5|
+----------+---------+------------------+-------+
only showing top 20 rows

# save data

In [51]:
final_stocks.write.option(
    "header",True
).partitionBy(
    "stockname"
).mode("overwrite").parquet(
    "output/final_parquet"
)

In [52]:
final_stocks.write.option(
    "header",True
).partitionBy(
    "stockname"
).mode("overwrite").csv(
    "output/final_csv"
)

In [53]:
! ls output/

final_csv  final_parquet

# end